<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <div *ngFor="let registry of indicator.registries">
    <ngb-panel>
      <ng-template ngbPanelTitle style="padding: 1em; border-radius: 0.5em; font-size: 14px; border: 5px solid #c4c4c4 !important; font-weight: bolder;">
        <div fxLayout="row" class="clickeable">
          <div fxFlex="30%">
            {{registry.name | uppercase}}
            <br>
            <span class="not-bold-but-italic">{{registry.date | date: 'dd-MM-yyyy'}}</span>
          </div>
          <div fxFlex="42%">
            <div class="value-box" *ngIf="indicator.registriesType === 1">{{registry.quantity}}</div>
            <div class="value-box" *ngIf="indicator.registriesType === 2">{{registry.percent}}%</div>
          </div>          
          <div fxFlex="15%">
            <button class="btn btn-xs btn-primary btn-size-text" (click)="openModalEditRegistry($event, editRegistry,registry)">Modificar</button>
          </div>
          <div fxFlex="20%">
            <button class="btn btn-xs btn-danger btn-size-text" (click)="deleteRegistry($event, registry)">Eliminar</button>
          </div>
          <span fxFlex="3%" class="pull-right centered-vertical glyphicon glyphicon-menu-down" style="font-size: 24px;"></span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let document of registry.documents">
          <div fxLayout="row">
            <div fxFlex="40%">
              <b>Nombre</b>
              <br /> {{document.name}}
            </div>
            <div fxFlex="10%">
              <b>Fecha</b>
              <br />  {{document.date | date: 'dd-MM-yyyy'}}
            </div>
            <div fxFlex="10%">
              <b>Tipo</b>
              <br /> {{document.extension}}
            </div>
            <div fxFlex="10%">
              <a class="btn btn-xs btn-primary">Ver</a>
            </div>
            <div fxFlex="15%">
              <a class="btn btn-xs btn-info btn-size-text">Descargar</a>
            </div>
            <div fxFlex="10%">
              <a class="btn btn-xs btn-danger btn-size-text" (click)="deleteDocument(registry,document)">Eliminar</a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </div>
</ngb-accordion>



<!--Modal Edit Registry-->
<ng-template #editRegistry>
  <app-registry-editor [registry]="registry" [registriesType]="indicator.registriesType" [editModalRef]="editModalRef" #editRegistry></app-registry-editor>
</ng-template>
